<div class="container">
  <h1><%= @restaurant.name %></h1>
  <div class="card">
    <div class="card-body">
      <ul>
      <li>Address: <%= @restaurant.address %></li>
      <li>Phone Number: <%= @restaurant.phone_number %></li>
      <li>Category: <%= @restaurant.category.capitalize %></li>
      Reviews:
      <ol>
        <% @restaurant.reviews.each do |review| %>
          <li><%= review.content %> || <% review.rating.times do %>⭐️<% end %></li>
        <% end %>
      </ol>
      </ul>
    <%= render 'layouts/partials/reviewform', restaurant: @restaurant, review: @review %>
    </div>
  </div>
</div>

